html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: cornflowerblue;
  text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes circle {
    from{
        width: 8px;
        height: 8px;
    }
    50%{
        width: 4px;
        height: 4px;
    }
    to{
        width: 8px;
        height: 8px;
    }
}
